/* MEDIA QUERIES */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Roboto:300,400,400i,500,700");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

:focus {
  outline: none; }

html {
  font-size: 16px; }

body, main {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background-color: #e7ecf0; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  line-height: 2; }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 1.75rem; } }
  @media screen and (min-width: 1680px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: 1.5rem; }
  @media screen and (min-width: 1366px) {
    h2 {
      font-size: 1.75rem; } }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0; }
  @media screen and (min-width: 768px) {
    h4 {
      font-weight: 500;
      font-size: 0.6rem; } }

#logo-title {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  text-transform: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 2rem;
  width: 200px; }
  @media screen and (min-width: 1366px) {
    #logo-title {
      width: 400px; } }

p {
  font-size: 0.85rem;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 1rem; }

h2, h3, h4, p {
  font-family: "Roboto", sans-serif; }

a:link {
  text-decoration: none;
  color: #8781bd; }

a:visited {
  color: #514d6f; }

a:hover {
  color: #fc4444; }

.header {
  position: relative;
  margin: 0;
  width: 100%;
  background-image: url(../img/bg-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh; }
  @media screen and (min-width: 1366px) {
    .header {
      height: 80vh; } }
  @media screen and (min-width: 1680px) {
    .header {
      height: 90vh; } }

.section {
  position: relative;
  width: 100%;
  background-color: white;
  padding-bottom: 6rem; }
  @media screen and (min-width: 1024px) {
    .section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-top: 160px; } }

.section-alt {
  position: relative;
  width: 100%;
  background-color: white;
  padding-bottom: 6rem; }

.section-alt h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 6rem 0 0.25rem 0; }

.section-alt p {
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .section-alt p {
      font-size: 1rem;
      line-height: 1.8;
      font-weight: 300;
      width: 100%; } }

@media screen and (min-width: 1366px) {
  #titles, #artists {
    padding-bottom: 300px; } }

.feature-section {
  position: relative;
  margin: 0;
  width: 100%;
  background-image: url(../img/bg-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh; }
  @media screen and (min-width: 1366px) {
    .feature-section {
      height: 50vh; } }

.connect-modules {
  position: relative;
  width: 100%;
  background-color: white;
  padding-bottom: 2rem; }
  @media screen and (min-width: 1024px) {
    .connect-modules {
      display: flex;
      flex-direction: row;
      justify-content: center; } }

.main-title {
  padding: 1rem;
  position: absolute;
  top: 15%;
  transform: translateY(-15%);
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.15rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .main-title {
      width: 40%;
      top: 33%;
      left: 10%;
      transform: translate(-10%, -33%);
      text-align: left; } }
  @media screen and (min-width: 1024px) {
    .main-title {
      width: 33.3333%; } }
  @media screen and (min-width: 1366px) {
    .main-title {
      width: 25%; } }
  @media screen and (min-width: 1680px) {
    .main-title {
      width: 25%; } }

.main-title p {
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .main-title p {
      font-size: 1rem;
      line-height: 1.8;
      font-weight: 300;
      width: 100%;
      text-align: left; } }

@media screen and (min-width: 768px) {
  .main-title h4, .feature h4 {
    text-align: left; } }

.logo-large {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  width: 150px;
  opacity: 0.6; }
  @media screen and (min-width: 768px) {
    .logo-large {
      width: 250px;
      left: 95%;
      top: 90%;
      transform: translate(-95%, -90%);
      padding: 2rem 1rem 0 1rem; } }
  @media screen and (min-width: 1366px) {
    .logo-large {
      width: 300px; } }

.logo-feature {
  width: 280px;
  margin: 0 auto;
  padding: 8rem 0 10rem 0; }

.logo-feature img {
  max-width: 100%; }

.logo-feature h2 {
  text-align: center;
  padding-top: 1rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.15rem; }

.logo {
  width: 65px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4; }

/* Slide Down Nav */
#navBar {
  display: none; }
  @media screen and (min-width: 768px) {
    #navBar {
      display: block;
      width: 100%;
      height: 80px;
      position: fixed;
      top: -100px;
      transition: top 0.3s;
      background-color: #ffffff;
      z-index: 100000000;
      box-shadow: 0 10px 100px #e8e3e0; } }

#staticNav {
  display: none; }
  @media screen and (min-width: 768px) {
    #staticNav {
      display: block; } }

.main-nav {
  padding: 1rem;
  text-align: center; }

.main-nav li {
  display: inline; }

.main-nav li {
  list-style-type: none;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 0.15rem; }

.main-nav a, .connect-list a {
  color: black; }

#nav-left, #nav-right {
  padding: 1rem 2rem; }

#nav-left {
  float: left; }

@media screen and (min-width: 1024px) {
  #nav-left a, #nav-right a {
    padding: 0 1.5rem; } }

#nav-right {
  float: right; }

.navigation {
  width: 90%;
  margin: 0 auto; }

.navigation li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 0 0.5rem 1.5rem 0;
  font-size: 0.75rem; }
  @media screen and (min-width: 768px) {
    .navigation li {
      font-size: 0.85rem; } }

.dropdown {
  display: none; }
  @media screen and (min-width: 1366px) {
    .dropdown {
      position: relative;
      display: inline-block; } }

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  min-width: 180px;
  background-color: #ffffff;
  padding: 0.5rem; }

.dropdown-content p {
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  text-align: left; }

.dropdown:hover .dropdown-content {
  display: none; }
  @media screen and (min-width: 1366px) {
    .dropdown:hover .dropdown-content {
      display: block; } }

/* Mobile Nav */
#nav-button {
  display: block;
  padding: 1rem 0.5rem; }
  @media screen and (min-width: 768px) {
    #nav-button {
      display: none; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }
  @media screen and (min-width: 480px) {
    .sidenav {
      padding-top: 1.5rem; } }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: black; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#main {
  transition: margin-left .5s;
  padding: 0; }

.menu {
  display: block;
  font-size: 1.8rem;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .menu {
      display: none; } }

.image-feature {
  position: relative;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .image-feature {
      width: 32%;
      float: left;
      padding: 1rem 2rem 6rem 0; } }

.image-feature p {
  text-align: center; }

.image-feature-2 {
  position: relative;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 1024px) {
    .image-feature-2 {
      width: 40%;
      float: left;
      padding: 1rem;
      margin-right: 2rem; } }

.text-feature {
  position: relative;
  width: 100%;
  text-align: left; }
  @media screen and (min-width: 1024px) {
    .text-feature {
      width: 64%;
      float: left;
      padding: 1rem; } }

.feature {
  position: relative;
  padding: 1rem; }
  @media screen and (min-width: 1024px) {
    .feature {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -25%);
      margin: 0 auto;
      text-align: center;
      padding: 0; } }

.feature h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.15rem; }

.feature p {
  width: 90%;
  margin: 0 auto;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .feature p {
      font-size: 1rem;
      line-height: 1.8;
      font-weight: 300;
      width: 100%; } }

.about {
  text-align: left; }

.figure img, .figure-alt img {
  max-width: 100%; }

.feature-title {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  bottom: 5%; }

.feature-title-name {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.05rem; }

.feature-title p {
  text-align: left;
  font-size: 0.85rem;
  padding: 1rem;
  line-height: 1.3; }

.feature-title h4 {
  padding: 0 1rem;
  text-align: right; }

.feature-title h5 {
  padding: 0 1rem;
  line-height: 0.25; }

@media screen and (min-width: 1024px) {
  .figure-alt img:first-child {
    margin-left: 2rem; } }

/* Footer */
.footer {
  width: 100%;
  margin: 0 auto;
  height: 80px; }
  @media screen and (min-width: 1366px) {
    .footer {
      height: 100px; } }

.footer p {
  font-family: "Playfair Display", serif;
  font-size: 0.75rem;
  padding: 2rem 0;
  text-align: center; }
  @media screen and (min-width: 1366px) {
    .footer p {
      margin-top: 140px; } }

/*# sourceMappingURL=style.css.map */
